<link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
<div class="card-body>">
  <div class="card-header">
    <a href="/createProject" class="btn btn--bounce btn--shimmer">New Project</a>
  </div>
</div>
{% for project in projects %}
<div style="">
    <div class="thumbnail">
        {% if project.link %}
            <a href="{{project.link}}"><img style="width:15%; height: 20%;" src="{{project.picture}}"></a>
        {% endif %}
      <div class="caption">
        <h4>{{project.title}}</h4>
        <p>Author:
            <br>
            <small><i>{{project.first_name}} {{project.last_name}}</i></small>
        </p>
      </div>
    </div>
  </div>
  {% endfor %}